name: lint
on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - uses: actions/setup-python@v4
    - name: setup poetry
      uses: abatilo/actions-poetry@v2
      with:
        poetry-version: 1.3.1
    - name: install deps
      run: poetry install
    - name: run lint
      run: poetry run tox -e lint
